<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/nm/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/post.css"> </head>

<body ng-app="ship" ng-controller="temp">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="7">
            <md-toolbar layout-padding layout-align="center center">
                <h2 class="md-display-3">SHIP</h2> </md-toolbar>
            <md-content layout-padding>
                <md-card>
                    <md-card-header>
                        <md-card-avatar> <img class="md-user-avatar" src="../resources/Logomakr_8qcyGI.png" /> </md-card-avatar>
                        <md-card-header-text> <span class="md-title">Firstname Lastname</span> <span class="md-subhead">bio</span> </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-list flex>
                            <md-subheader class="md-no-sticky">Menu</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null"> <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.who | initcap}}</h3>
                                    <h4>{{ item.what }}</h4>
                                    <p>{{ item.notes }}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <md-toolbar layout="row" class="md-primary">
                <div class="md-toolbar-tools">
                    <md-button hide-gt-sm ng-click="toggle()">
                        <md-icon class="md-primary">menu</md-icon>SHIP</md-button> <span>Post Id: xxx</span> </div>
            </md-toolbar>
            <div layout="row" layout-align="center center">
                <md-card flex="80">
                    <md-card-header>
                        <md-card-avatar> <img class="md-user-avatar" src="../resources/avatar.png" /> </md-card-avatar>
                        <md-card-header-text> <span class="md-title">Albert Einstein</span> <span class="md-subhead">Posted on 1st March 1930</span> </md-card-header-text>
                    </md-card-header> <img src="../resources/work.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text> <span class="md-headline">I want a laptop too...</span></md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button class="md-icon-button" name="fav">
                            <md-icon>favorite</md-icon>
                        </md-button>
                        <label for="fav">12</label>
                        <md-button class="md-icon-button" name="rep">
                            <md-icon>reply</md-icon>
                        </md-button>
                    </md-card-actions>
                    <md-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <md-list flex>
                            <md-subheader class="md-no-sticky">Comments</md-subheader>
                            <md-list-item class="md-3-line"> <img src="../resources/Logomakr_8qcyGI.png" alt="" class="md-avatar" />
                                <md-input-container class="md-block" flex-gt-sm>
                                    <md-icon>chat</md-icon>
                                    <label>Reply to this post</label>
                                    <input ng-model="user.firstName">
                                    <md-icon class="md-secondary">send</md-icon>
                                </md-input-container>
                            </md-list-item>
                            <md-list-item class="md-3-line" ng-repeat="item in todos"> <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.who | initcap}} <span><small> on 1st March 1930</small></span></h3>
                                    <p>{{ item.notes }}</p>
                                    <div class="md-primary">
                                        <md-icon aria-label="Chat">favorite</md-icon><span>12</span> </div>
                                </div>
                                <md-divider md-inset></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </section>
    <script src="/nm/angular/angular.js"></script>
    <script src="/nm/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/nm/angular-aria/angular-aria.js"></script>
    <script src="/nm/angular-animate/angular-animate.js"></script>
    <script src="/nm/angular-messages/angular-messages.min.js"></script>
    <script src="/nm/angular-material/angular-material.js"></script>
    <script src="/nm/angular-password/angular-password.min.js"></script>
    <script src="/nm/ng-file-upload/dist/ng-file-upload-all.min.js"></script>
    <script src="/nm/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="../configs/main.js"></script>
    <script>
        app.controller('temp', function ($scope, $mdSidenav) {
            $scope.todos = [{
                face: '../resources/rick.jpg'
                , who: 'someone'
                , what: 'something'
                , notes: 'Lorem Ipsum'
            }, {
                face: '../resources/rick.jpg'
                , who: 'someone'
                , what: 'something'
                , notes: 'Lorem Ipsum'
            }, {
                face: '../resources/rick.jpg'
                , who: 'someone'
                , what: 'something'
                , notes: 'Lorem Ipsum'
            }, {
                face: '../resources/rick.jpg'
                , who: 'someone'
                , what: 'something'
                , notes: 'Lorem Ipsum'
            }, {
                face: '../resources/rick.jpg'
                , who: 'someone'
                , what: 'something'
                , notes: 'Lorem Ipsum'
            }, {
                face: '../resources/rick.jpg'
                , who: 'someone'
                , what: 'something'
                , notes: 'Lorem Ipsum'
            }, {
                face: '../resources/rick.jpg'
                , who: 'someone'
                , what: 'something'
                , notes: 'Lorem Ipsum'
            }];

            function buildToggler(navID) {
                return function () {
                    // Component lookup should always be available since we are not using `ng-if`
                    $mdSidenav(navID).toggle();
                };
            }
            $scope.toggle = buildToggler('left');
        });
    </script>
</body>

</html>